<h1>Booking resquest made with success</h1>
<p>Here is the recap of your luxury awesome request:</p>

<ul>
  <li>From: <%= @booking.start_day %> until: <%= @booking.end_day %></li>

                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                  <div class="card">
                    <span class="card-bg" style="background-image: url('<%= image_path @item.picture.url(:card) %>')"></span>
                    <span class="card-gradient"></span>
                    <span class="card-category"><%= @item.brand %></span>
                    <span class="card-text">
                      <h2><%= @item.title %></h2>
                      <p><%= @item.daily_price %> €/j</p>
                    </span>
                    <span class="card-user">
                      <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
                    </span>
                  </div>
                </div>
</ul>
