<div class="booking-created">
  <h1>New booking request received</h1>
</div>
<h1 class="text-center" style="margin-bottom: 20px"> <%= @item.title %> </h1>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="col-xs-12 col-md-8" style="padding-right: 0px">
          <div class="show-pic">
            <%= image_tag @item.picture.url(:add), class:"img-show" %>
          </div>
        </div>

        <div class="col-xs-12 col-md-4" style="padding-right: 10px padding-left: 10px">
          <div class="request-form">
            <h2 class="text-center" style="padding-bottom:20px">Request</h2>

            <ul>
              <li class="list-group-item">From: <%= @booking.start_day %></li>
              <li class="list-group-item">To: <%= @booking.end_day %></li>
              <li class="list-group-item">Total price: <%= (@item.daily_price * (@booking.end_day - @booking.start_day)).to_i %>€ </li>

              <li class="list-group-item">Email: <%= @owner.email %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= simple_form_for [@item, @booking] do |f| %>
      <ul class="list-inline text-center">
        <li>Answer:</li>
        <li><%= f.input :status, as: :select, collection: ["Waiting", "Accept", "Refuse"] %><li>
        <li><%= f.submit "Send", class:"btn btn-success" %></li>
      </ul>
    <% end %>

      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <ul class="list-group listing">
          <li class="list-group-item">Description : <%= @item.description %></li>
          <li class="list-group-item">Price : <%= @item.daily_price.round %>€ per day</li>
          <li class="list-group-item">Category : <%= @item.category %></li>
          <li class="list-group-item">Brand : <%= @item.brand %></li>
          <li class="list-group-item">Rented by : <%= @item.owner.first_name %> <%= @item.owner.last_name %></li>
          <li class="list-group-item">Available in : <%= @item.city %></li>
        </ul>
      </div>

    </div>

  </div>
