<h1 class="text-center">Dashboard</h1>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#offer" aria-controls="offer" role="tab" data-toggle="tab">My Items</a></li>
    <li role="presentation"><a href="#travelers" aria-controls="travelers" role="tab" data-toggle="tab">Mes achats</a></li>
    <li role="presentation"><a href="#bookings" aria-controls="bookings" role="tab" data-toggle="tab">Mes ventes</a></li>
    <li role="presentation"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Edit profile</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="offer">
      <div class="container">
        <div class="row">
          <h2 class="dashboard-title"><%= @items.count %> <%= @items.count > 1 ? "Offers online" : "Offer online" %></h2>
          <% @items.each do |item| %>
            <div class="col-xs-12 col-sm-6">
              <%= render 'shared/card_result', item: item %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Mes achats -->
    <div role="tabpanel" class="tab-pane" id="travelers">
      <h2 class="dashboard-title"><%= @bookings.count %><%= @items.count %> <%= @items.count > 1 ? "Booking requests I have made" : "Booking request I have made" %></h2>
      <% @bookings.each do |booking| %>
        <%= render 'shared/card_dashboard', booking: booking %>


    <% end %>
    </div>

    <!-- Mes ventes -->
    <div role="tabpanel" class="tab-pane" id="bookings">
      <h2 class="dashboard-title"><%= @item_bookings.count %><%= @items.count %> <%= @items.count > 1 ? "Booking requests I have received" : "Booking request I have received" %></h2>
      <% @sales.each do |sale| %>
        <%= render 'shared/card_dashboard', booking: sale %>
      <% end %>

    </div>

    <div role="tabpanel" class="tab-pane" id="edit">
    <h2 class="dashboard-title">Edit my profile</h2>
     <%= render "devise/registrations/edit", resource_name: :user, resource: current_user, devise_mapping: nil %>
   </div>
  </div>

</div>
  </div>
