<div class="container">
  <div class="row">
      <ul>
        <div class="container">
          <div class="row">

          <div class="col-xs-12 col-sm-10 col-sm-offset-2">

            <% 10.times do %>
              <% @items.each do |item| %>
                <div class="col-xs-12 col-sm-6">
                  <div class="card">
                    <span class="card-bg" style="background-image: url('<%= image_tag item.picture.url(:card) %>')"></span>
                    <span class="card-gradient"></span>
                    <span class="card-category"><%= item.brand %></span>
                    <span class="card-text">
                      <h2><%= item.title %></h2>
                      <p><%= item.daily_price %> €/j</p>
                    </span>
                    <span class="card-user">
                      <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
                    </span>
                    <%= link_to item_path(item), {class:"card-link"} do %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
