<div class="text-center">
  <div class="class container">
    <div class="class row">
      <div class="class col-xs-12 col-sm-6 col-sm-offset-3">
        <% if params.has_key? "category" %>
          <%= form_tag '/items', class: "form-inline", :method => :get do %>
            <%= hidden_field_tag 'category', @items.first.category %>
            <%= number_field_tag 'max_price' %>
            <%= submit_tag "Search" %>
          <% end %>
        <% else %>
           <%= form_tag '/items', class: "form-inline", :method => :get do %>
              <%= select_tag "category", options_for_select([ "Watch", "Jewel", "Handbag" ], "Watch") %>
              <%= submit_tag "Search" %>
              <%# f.input :category, class: "form-control", collection: [ "Watch", "Jewels", "Handbag"] %>
            <% end %>
            <%# f.button :submit, value: "Search", class: "btn btn-success" %>
         <% end %>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
      <ul>

          <div class="col-xs-12 col-sm-10 col-sm-offset-2">

              <% @items.each do |item| %>
                <div class="col-xs-12 col-sm-6">
                  <div class="card">
                    <span class="card-bg" style="background-image: url('<%= image_path item.picture.url(:card) %>')"></span>
                    <span class="card-gradient"></span>
                    <span class="card-category"><%= item.brand %></span>
                    <span class="card-text">
                      <h2><%= item.title %></h2>
                      <p><%= item.daily_price %> €/j</p>
                    </span>
                    <span class="card-user">
                      <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
                    </span>
                    <%= link_to item_path(item), {class:"card-link"} do %>
                    <% end %>
                  </div>
                </div>
              <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
