<div class="container">
  <div class="row">
      <% if @items.empty? %>
        <div class="text-center">
          <h2 class="text-center">Sorry no product found </h2>
          <button onclick="goBack()" class="btn btn-danger">Go Back</button>
        </div>
        <script>
          function goBack() {
              window.history.back();
          }
        </script>
      <% else %>
          <div class="col-xs-12 col-sm-4">
            <div class="search-form">
              <h2 class="text-center" style="padding-bottom:20px">Filters</h2>
                <ul class="list-unstyled">
                  <li>

                      <% if params.has_key? "category" %>
                        <%= form_tag '/items', :method => :get do %>
                          <%= hidden_field_tag 'category', @items.first.category %>
                          Max price: <%= number_field_tag 'max_price' %>€
                          <%= submit_tag "Search", class: "btn btn-success" %>
                        <% end %>
                      <% else %>
                        <%= form_tag '/items', id: "category_choice", class: "form-inline", :method => :get do %>
                          <%= select_tag "category", options_for_select([ "Watch", "Jewel", "Handbag" ]),class: "form-control", prompt: "What do you want to rent ?" %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>

          <div class="col-xs-12 col-sm-8">
            <% if @items.empty? %>
            <% else %>
              <% if params.has_key? "category" %>
              <h1 class="text-center"><%= @items.count %> <%= @items.count > 1 ? @items.first.category.pluralize : @items.first.category.singularize %> found </h1>
              <h1 class="text-center">All results</h1>
              <% end %>

                <% @items.each do |item| %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render 'shared/card_result', item: item %>
                  </div>
                <% end %>
              <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
