<div class="text-center">
  <div class="class container">
    <div class="class row">
      <div class="class col-xs-12 col-sm-6 col-sm-offset-3">
         <%= simple_form_for :search,  url: items_path, class: "form-inline", :method => :get do |f| %>
          <%= f.input :category, class: "form-control", collection: [ "Watch", "Jewels", "Handbag"] %>
          <%= f.button :submit, value: "Search", class: "btn btn-success" %>
  <% end %>
      </div>
    </div>
  </div>

</div>



<div class="container">
  <div class="row">
      <ul>

          <div class="col-xs-12 col-sm-10 col-sm-offset-2">

              <% @items.each do |item| %>
                <div class="col-xs-12 col-sm-6">
                  <div class="card">
                    <span class="card-bg" style="background-image: url('<%= image_path "item.picture" %>')"></span>
                    <span class="card-gradient"></span>
                    <span class="card-category"><%= item.brand %></span>
                    <span class="card-text">
                      <h2><%= item.title %></h2>
                      <p><%= item.daily_price %> €/j</p>
                    </span>
                    <span class="card-user">
                      <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
                    </span>
                    <a href="#" class="card-link"></a>
                  </div>
                </div>
              <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
