<div class="container">
  <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="search-form">
              <h2 class="text-center" style="padding-bottom:20px">Research</h2>
                <ul class="list-unstyled">
                  <li>
                    <% if params.has_key? "category" %>
                      <%= form_tag '/items', :method => :get do %>
                        <%= hidden_field_tag 'category', @items.first.category %>
                        Max price: <%= number_field_tag 'max_price' %>€
                        <%= submit_tag "Search", {class:"class=btn btn-success"} %>
                      <% end %>
                    <% else %>
                       <%= form_tag '/items', :method => :get do %>
                          <%= select_tag "category", options_for_select([ "Watch", "Jewel", "Handbag" ], "Watch") %>
                          <%= submit_tag "Search", {class:"class=btn btn-success"} %>
                  </li>
                          <%# f.input :category, class: "form-control", collection: [ "Watch", "Jewels", "Handbag"] %>
                        <% end %>
                        <%# f.button :submit, value: "Search", class: "btn btn-success" %>
                     <% end %>
                </ul>

            </div>
          </div>

          <div class="col-xs-12 col-sm-8">

            <% if params.has_key? "category" %>
            <h1 class="text-center"><%= @items.count %> <%= @items.count > 1 ? @items.first.category.pluralize : @items.first.category.singularize %> founded </h1>
            <% else %>
            <h1>All results</h1>
            <% end %>

              <% @items.each do |item| %>
                <div class="col-xs-12 col-sm-6">
                  <div class="card">
                    <span class="card-bg" style="background-image: url('<%= image_path item.picture.url(:card) %>')"></span>
                    <span class="card-gradient"></span>
                    <span class="card-category"><%= item.brand %></span>
                    <span class="card-text">
                      <h2><%= item.title %></h2>
                      <p><%= item.daily_price %> €/j</p>
                    </span>
                    <span class="card-user">
                      <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
                    </span>
                    <%= link_to item_path(item), {class:"card-link"} do %>
                    <% end %>
                  </div>
                </div>
              <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
